<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Nature Critere ID</th>
        <th>Nature Critere Libelle</th>
        <th>Nature Critere Description</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let natureCritere of natureCriteres">
        <td>{{ natureCritere.natureCritereId }}</td>
        <td>{{ natureCritere.natureCritereLibelle }}</td>
        <td>{{ natureCritere.natureCritereDescription }}</td>
      </tr>
    </tbody>
  </table>
</div>
